node_modules/
.env

playwright-report/
test-results/
blob-report/
artifacts/*
!artifacts/.gitkeep

*.actual.png
*.diff.png
*.webm
*.zip
*.trace

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.log
npm-debug.log*
